.zone{
    display: flex;
    width: 300px;
    height: 250px;
    background-color: rgb(20, 3, 27);
    opacity: 90%;
    border-radius: 10px;
    border: 1px solid orange;
    color: rgb(230, 222, 222);
    justify-content: center;
}

.btnzone {
    background-color: black;
    width: 20vh;
    color: rgb(179, 187, 223);
    border-radius: 5px;   
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid #e78122;
    box-shadow: rgb(77, 133, 236) 0 -1px 70px 1px, inset rgb(233, 66, 122) 0 -1px 1px, rgb(226, 120, 33) 0 2px 12px;
    transition: width 1s, box-shadow 1s;
    
}
