@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.back {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .title {
      text-align: center;
      color: rgb(210, 228, 230);
      font-family: 'Staatliches', cursive;
      font-size: 2.5em;
  }

  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 95vh;
    padding: 20px;
    width: 380px;
  }
  .input-container {
    height: 45px;
    position: relative;
    width: 100%;
  }

  .ic1 {
    margin-top: 20px;
  }
  .input {
    background-color: #303245;
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 14px;
    height: 80%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }

  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }

  .submit {
    background-color: #bc1a55;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }

.genres {
  display: flex;
  color: rgb(210, 228, 230);
  justify-content: space-evenly;
  margin-left: 2vh;
  margin-bottom: 5px;
 
}

.platforms {
  color: rgb(210, 228, 230);
  margin-left: 5vh;
  align-items: center;
  margin-top: 4vh; 
  
}

.backhome {
  background-color: transparent;
  width: 10vh;
  color: rgb(179, 187, 223);
  border-radius: 5px;   
  font-family: 'Staatliches', cursive;
  font-size: 0.9em;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid #e78122;
  box-shadow: rgb(77, 133, 236) 0 -1px 70px 1px, inset rgb(233, 66, 122) 0 -1px 1px, rgb(226, 120, 33) 0 2px 12px;
  transition: width 1s, box-shadow 1s;
}
.backhome:hover{
  width: 25vh;
  box-shadow: rgb(236, 77, 125) 0 -1px 20px 10px;
  }
.contbackhome{
  display: flex;
  justify-content: center;
  margin: 15px;
  
}
.genresform{
    background-color: #15172b;
    border-radius: 5px;
    color: #eee;
    cursor: pointer;
    text-align: center;
    border: 2px solid #bc1a55;
    padding: 1px;
    
}
