h2, p {
    color: rgb(206, 213, 245);
    text-decoration: none;
}
    
.card {
    height: 50vh;
    width: 50vh;
    margin: 40px;
    border: solid 1px rgb(226, 143, 48);
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: rgb(77, 133, 236) 0 -1px 20px 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    transition: box-shadow 1s, text-align, 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card:hover{
    box-shadow: rgb(245, 149, 23)  10px 15px 5px;
    padding-right: 12px;
    padding-left: 12px;
 
    
}

.img {
    width: 50vh;
    height: 35vh;
    border: 1px solid #e78122;
    box-shadow: rgb(77, 133, 236) 0 -1px 5px 1px,  rgb(226, 120, 33) 0 2px 12px;
  
    border-radius: 5px;
    
}