.back {
    background-color: #0c010f;
    
  }


.image{
  
  max-width:900px;
  max-height:600px;
  width: auto;
  height: auto;
}
.contimg{
  display: flex;
  justify-content: center;
  margin: 10px;
}
  
.tit{
  color: rgb(234, 250, 249);
  display: flex;
  justify-content: center;
  margin-right: 10vh;
  
}
.contback{
  display: flex;
  align-items: center;
  margin-left: 5vh;
  
}

.continfo{
  display: flex;
  justify-content: center;
  margin-left: 40vh;
  margin-right: 40vh;
}
.btnhome {
  background-color: transparent;
  width: 20vh;
  color: rgb(179, 187, 223);
  border-radius: 5px;   
  font-family: 'Staatliches', cursive;
  font-size: 1.2em;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid #e78122;
  box-shadow: rgb(77, 133, 236) 0 -1px 70px 1px, inset rgb(233, 66, 122) 0 -1px 1px, rgb(226, 120, 33) 0 2px 12px;
  transition: width 1s, box-shadow 1s;
}
.btnhome:hover{
width: 25vh;
box-shadow: rgb(77, 133, 236) 0 -1px 20px 10px;
}

.contextra {
  display: flex;
  margin-left: 65vh;
  margin-right: 65vh;
  padding-top: 10px;
  align-items: center;
  justify-content: space-evenly;
}

