* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
    width: 100%;
    height: 15vh;
    background-color: #220848;
    color: #675cd3;
    position: relative;
}
.btn {
    display: flex;
    margin: 5vh;
    position: absolute;
    background-color: white;
    color: black;
    width: 15vh;
    border-radius: 5px;
}