.orderzone{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;   
}
.btnorder {
    margin-bottom: 10px;
    background-color: #bc1a55;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 1vh;
}
.btnorder:hover {
    background-color: teal;
}