.cont {
    display: inline;
    width: 250px;
    margin-top: 10px;      
   
}

.search{
    border: none;
    border-radius: 10px;
    background-color: #4c4749;
    width: 55vh;
    height: 27px;
    color: white;
    padding-left: 10px;
    
}
.search:focus{
    outline: none;
    background-color: #c5c5c5;
    color: #15172b;
    font-weight: 800;
   
}

.search:focus::placeholder {
    color: transparent;
  }

.btnsearch{
    background-color: black;
    width: 20vh;
    height: 25px;
    border-radius: 10px;
    margin-left: 100px;
    color: rgb(207, 214, 245);
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    margin-top: 5px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    border: 1px solid #e722d7;
    box-shadow: rgb(236, 77, 77) 0 -1px 70px 10px, inset rgb(233, 66, 122) 0 -1px 1px;
    
}
.btnsearch:hover {
    border: 1px solid #e76022;
}