body{
    overflow-x: hidden;
    background-color: rgb(12, 1, 15);
   
}
.link {
    text-decoration: none;
}

.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%; 
    text-decoration: none;
     
}
.pagingcont{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh ;
}
.pagbtn {
    background-color: black;
    width: 35px;
    border-radius: 5px;
    color: rgb(207, 214, 245);
    font-family: 'Staatliches', cursive;
    font-size: 1.2em;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    border: 1px solid #e7222c;
    box-shadow: rgb(236, 77, 77) 0 -1px 30px 0px, inset rgb(233, 66, 122) 0 -1px 1px;
    text-align: center;
}
.pagbtn:hover {
    box-shadow: rgb(77, 101, 236) 5px -1px 30px 0px;
}